# Common Docker Container configuration
version: "2"
services:
  web:
    hostname: web
    image: getdkan/dkan-docker:php7-web
    ports:
      - "80"
      - "443"
      - "8888"
    links:
      - db
      # Uncomment this and the memcached service definition below to start using memcached.
      - memcached
      - solr
    volumes:
      # PHP configuration overrides
      - "${DKTL_PROJECT_DIRECTORY}:/var/www/:delegated"
    network_mode: bridge
    labels:
      - "traefik.frontend.rule=Host:${DKTL_SLUG}.${DKTL_PROXY_DOMAIN}"
      - "traefik.frontend.passHostHeader=true"
    environment:
      # no_proxy="" required for default Docker For Mac system proxy that contains a space and prevents Selenium from loading.
      # Linked containers to browser will also need this setting.
      - PROXY_DOMAIN
      - no_proxy=""
    env_file:
      - "${DKTL_DIRECTORY}/assets/docker/mysql.env"

  # DB node
  db:
    hostname: db
    image: wodby/mariadb:latest
    ports:
      - "3306"
    # MYSQL Credentials in mysql.env
    env_file:
      - "${DKTL_DIRECTORY}/assets/docker/mysql.env"
    volumes:
       # MySQL configuration overrides
       - "${DKTL_DIRECTORY}/assets/docker/etc/mysql/my.cnf:/etc/mysql/conf.d/z_my.cnf"
       # Permanent DB data storage
       - database_data:/var/lib/mysql:delegated
    labels:
      - traefik.enable=false
    network_mode: bridge

  # CLI node
  # Used for all console commands and tools.
  cli:
    hostname: cli
    image: getdkan/dkan-docker:php7-cli
    environment:
      - DKTL_MODE=HOST
      - DKTL_DOCKER=1
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - PROXY_DOMAIN
      - PLATFORM
      - XDEBUG_CONFIG=idekey=PHPSTORM
      - XDEBUG_DKTL=1
    env_file:
      - "${DKTL_DIRECTORY}/assets/docker/mysql.env"
    links:
      - db
      - web
      # Uncomment this and the browser service definition below to start using selenium2.
      - browser
      - memcached
      - solr
    ports:
      - "8888"
    volumes:
      - "${DKTL_PROJECT_DIRECTORY}:/var/www/:delegated"
      # Load the DKAN tools dir
      - "${DKTL_DIRECTORY}/:/usr/local/dkan-tools"
      # Host SSH keys mapping. Uncomment one of the lines below based on your setup.
      - ~/.ssh:/root/.ssh
      - ~/.aws:/root/.aws
    labels:
      - traefik.enable=false
    network_mode: bridge

  # Memcached node
  # Uncomment the service definition section below and the link in the web service above to start using memcached.
  memcached:
    hostname: memcached
    image: memcached
    environment:
      # Memcached memory limit in megabytes
      - MEMCACHED_MEMORY_LIMIT=128
    labels:
      - traefik.enable=false
    network_mode: bridge

  # ngrok node
  # Uncomment the service definition section below to start using ngrok for sharing your local web server with the world.
  # share:
  #   hostname: share
  #   image: fnichol/ngrok
  #   ports:
  #     - "4040:4040"
  #     # Use IP based mapping when working with multiple projects. See docs (^^) for more details.
  #     #- 192.168.10.10:4040:4040
  #   links:
  #     - web:http

  # selenium2 node
  # Uncomment the service definition section below and the link in the web service above to start using selenium2 driver for Behat tests requiring JS support.
  browser:
    hostname: browser
    image: selenium/standalone-chrome-debug:2.53.1
    # This helps keep selenium-chrome from crashing because it uses shared memory.
    ports:
      - "5900"
    volumes:
      - /dev/shm:/dev/shm
      # Project root folder mapping
      - "../../:/var/www/"
    links:
      - web
    environment:
      # no_proxy="" required for default Docker For Mac system proxy that contains a space and prevents Selenium from loading.
      - no_proxy=""
    network_mode: bridge
    labels:
      - traefik.enable=false

  solr:
    hostname: solr
    image: devinci/drupal-solr:3.x
    ports:
      - "8983"
    volumes:
      - "${DKTL_DIRECTORY}/assets/docker/etc/solr/3.x:/var/lib/solr/conf"
    labels:
      - "traefik.frontend.rule=Host:${DKTL_SLUG}-solr.${DKTL_PROXY_DOMAIN}"
    network_mode: bridge
volumes:
  database_data:
