version: 2
jobs:
  build:
    parallelism: 1
    machine:
      image: circleci/classic:latest
    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run:
          name: Setup composer config
          command: |
            cd ~
            mkdir .composer
            cd .composer
            bash -c 'echo "{\"github-oauth\": {\"github.com\": \"$GITHUB_TOKEN\"}}"' > auth.json
      - run:
          name: Install DKTL
          command: |
            cd ~
            chmod 777 ./project/bin/dktl
            export PATH=$PATH:~/project/bin
            which dktl
      - run:
          name: Initialize Project
          command: |
            export PATH=$PATH:~/project/bin
            cd ~/project
            dktl init
      - run:
          name: Run tests
          command: |
            export PATH=$PATH:~/project/bin
            cd ~/project
            dktl init
            dktl test:dktl
      - run:
          name: Test build
          command: |
            export PATH=$PATH:~/project/bin
            cd ~/project
            dktl init
            dktl dc up -d
            dktl get 8.9.2
            dktl dktl-proxy:connect
            dktl make
            dktl install --demo
            dktl dkan:test-phpunit
            dktl dkan:test-dredd
            dktl dkan:test-cypress
            dktl xdebug:enable
